* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'roboto', sans-serif;
  	overflow-anchor: auto;
}

nav img {
	height: 45px;
}

nav a {
	text-transform: uppercase;
}

.section {
	overflow: hidden;
}

.section p {
	font-weight: 300;
	margin-top: 2vh;
	font-size: 1.5vh;
}

.section span {
	font-weight: 500;
}


.s1 h3 {
	top: 10px;
}

.s1 p {
	margin-top: 10vh;
	margin-left: 30px;
	
}

.s1 ul {
	margin-left: 15vh;
	margin-top: 10vh;
	padding: 0px;
	font-weight: 300;
	font-size: 1.5vh;
}

.s3 p {
	
}

.s3 ul {
	margin-left: 2vh;
	margin-top: 2vh;
	padding: 0px;
	font-weight: 300;
	font-size: 1.5vh;
}