body {
  background-color: lightblue;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 1200px;
  align-items: flex-start;
}
/* # refererer til et ID */
#kasse1 {
  background-color: #ddd;
  width: 50%;
}
#kasse2 {
  background-color: burlywood;
  width: 50%;
}
/* Margin er afstanden rundt om det orange; Padding er mellem det orange og border er rammen */
.kasse3 {
  background-color: orange;
  margin: 40px;
  padding: 20px;
  border: 1px solid #333
}
/* . refererer til en klasse (class). En klasse kan bruges flere gange. */
.toben {
  color: red;
}
.firben {
  color: lightgreen;
}
.highlight {
  background-color: yellow;
}
.special {
  order: -1;
}
.tilsidst {
  order: 1;
}
